#work-menu-btn {
	background: #fff;
	color: black;
	padding: 0.25em 0.5em 0.25em 1.5em;
	text-decoration: none;
	position: fixed;
	z-index: 1000;
	line-height: 1;
	border: 1px solid rgba(black, 0.05);
	border-bottom: none;
	border-radius: 30px 0 0 30px;
	box-shadow: 0 1px 0 rgba(#000, 0.5);

	@include transition(0.25s);

	margin: 0;

	right:3em;
	top:1em;

	&:hover {
		@include transform(translateY(-5px));
			box-shadow: 0 5px 10px rgba(#000, 0.25);

	}
}

#work-menu-backdrop {
	position: fixed;
	z-index: 800;
	background: rgba(#000, 0.85);
	width: 100vw;
	height: 100vh;
}

#work-menu-list {
	background: #fff;
	position: fixed;
	z-index: 900;
	padding: 1em;

	right: 3em;
	top: 3em;

	nav {
		list-style-type: none;

		li {
			text-align: right;
		}
	}
}

@include media-query($on-tablet) {
	#work-menu-btn {
		font-size: 1.75em;
		padding: 0.22em 0.5em 0.22em 1.5em;

		top: 1.1em;
	}

	#work-menu-list {
		font-size: 1.75em;
	}
}

