#work-menu {
	background: #fff;
	color: black;
	padding: 0.25em 0.5em 0.25em 1.5em;
	text-decoration: none;
	position: fixed;
	line-height: 1;
	border: 1px solid rgba(black, 0.05);
	border-bottom: none;
	border-radius: 30px 0 0 30px;
	box-shadow: 0 1px 0 rgba(#000, 0.5);

	@include transition(0.25s);

	margin: 0;

	right:3em;
	top:1em;

	&:hover {
		@include transform(translateY(-10px));
			box-shadow: 0 10px 10px rgba(#000, 0.25);

	}

}

@include media-query($on-tablet) {
	#work-menu {
		font-size: 1.75em;
		padding: 0.2em 0.5em 0.2em 1.5em;

		top: 1.1em;
	}
}

