<a id="work-menu-btn" href="#">{% if page.navtitle %}{{ page.navtitle }}{% else %}{{ page.title }}{% endif %}<span class="glyphicon glyphicon-chevron-down"></span></a>
<a id="work-menu-home" href="/work"><span class="glyphicon glyphicon-home"></span></a>

<div id="work-menu-backdrop"></div>
<div id="work-menu-list" class="nano">
	<nav class="nano-content">
		{% for project in site.case_studies %}	
			<li><a href="{{ project.url }}" class="{% if project.title == page.title  %}active{% endif %}">{{ project.title }}</a></li>
		{% endfor %}

		{% for project in site.projects %}	
			<li><a href="{{ project.url }}" class="{% if project.title == page.title  %}active{% endif %}">{{ project.title }}</a></li>
		{% endfor %}

	</nav>
</div>
