<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/js/typed.min.js"></script>
<script type="text/javascript" src="/js/rellax.min.js"></script>
<script type="text/javascript" src="/js/type_effects.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/splash_animation.js"></script>
<script type="text/javascript" src="/js/placeholder.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/parallax.js"></script>
<script type="text/javascript" src="/js/landing_footer.js"></script>