<div class="menu disabled">
	<nav>
		<li>
			<a {% if include.active == "home" %} class="menu-home active" {% else %} class="menu-home" {% endif %} href="/">Home</a>
		</li>
		<li>
			<a {% if include.active == "about" %} class="menu-about active" {% else %} class="menu-about" {% endif %} href="/about">About</a>
		</li>
		<li>
			<a {% if include.active == "work" %} class="menu-work active" {% else %} class="menu-work" {% endif %} href="/work">Work</a>
		</li>
		<li>
			<a {% if include.active == "blog" %} class="menu-blog active" {% else %} class="menu-blog" {% endif %} href="/blog">Blog</a>
		</li>
		<li>
			<a {% if include.active == "sandbox" %} class="menu-sandbox active" {% else %} class="menu-sandbox" {% endif %} href="/sandbox">Sandbox</a>
		</li>
	</nav>

	<div class="menu-close"></div>
</div>