<div class="menu disabled">

	<nav class="menu-items">
		<li>
			<a {% if include.active == "home" %} class="menu-home active" {% else %} class="menu-home" {% endif %} href="/">Home</a>
		</li>
		<li>
			<a {% if include.active == "about" %} class="menu-about active" {% else %} class="menu-about" {% endif %} href="/about">About</a>
		</li>
		<li>
			<a {% if include.active == "work" %} class="menu-work active" {% else %} class="menu-work" {% endif %} href="/work">Work</a>
		</li>
		<li>
			<a {% if include.active == "blog" %} class="menu-blog active" {% else %} class="menu-blog" {% endif %} href="/blog">Blog</a>
		</li>
		<li>
			<a {% if include.active == "sandbox" %} class="menu-sandbox active" {% else %} class="menu-sandbox" {% endif %} href="/sandbox">Sandbox</a>
		</li>
	</nav>

	<nav class="social-icons">
		<li>
			<a class="linkedin" href="https://www.linkedin.com/in/ureyes"></a>
		</li>
		<li>
			<a class="instagram" href="https://www.instagram.com/urjr/"></a>
		</li>
		<li>
			<a class="twitter" href="https://twitter.com/ureys"></a>
		</li>
		<li>
			<a class="github" href="https://github.com/urjr"></a>
		</li>
		<li>
			<a class="email" href="mailto:hi@ulises.me"></a>
		</li>
	</nav>

	<h2 class="menu-footer">Ulises Reyes &copy; {{ site.time | date: '%Y' }} All Rights Reserved</h2>

	<div class="menu-close"></div>
</div>