<!-- Modal -->
<div id="comingSoon" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div id="modal" class="modal-content">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="modal-title">Modal Header</h4> -->
        <h1 class="header sorry">Sorry...</h1>
        <h1 class="header construction">This Page is Under Construction</h1>
        <p class="body-text">I'm currently hard at work updating this website. Come back soon to see this page in it's full glory. If you are interested in seeing a recent collection of my work, send me an <a href="mailto:hi@ulises.me">email</a> or download the provided PDF work sample. Track my progress <a href="https://github.com/urjr/urjr.github.io" target="_blank">here</a>.</p>

        <a href="/download/work-sample.pdf" class="modal-button work-sample" target="_blank">Download Work Sample</a>
        <a href="#" class="modal-button modal-close" data-dismiss="modal">Take me Back</a>
    </div>

  </div>
</div>