<div class="splash">
	<div class="container">
		<div class="row welcome-panel">
			<div class="col-sm-6 col-lg-5 greeting">
				<h1 style="opacity: 1;">Hi</h1>
					<!-- {% include animations/me.html class="animation-splash" %} -->
 					<!-- {% include animations/design.html class="animation-splash" %} -->
					<!-- {% include animations/nyc.html class="animation-splash" %} -->
 					<!-- {% include animations/adhawk.html class="animation-splash" %} -->
 					<!-- {% include animations/mail.html class="animation-splash" %} -->
			</div>
			<div class="col-sm-10 col-lg-7 intro">
				<p>My name is <a href="/about">Ulises Reyes</a>. I am a <a href="https://en.wikipedia.org/wiki/User_experience_design">UX/UI Designer</a> Based in <a href="https://en.wikipedia.org/wiki/New_York_City">New York</a>. Currently, I work as Head of Design for <a href="https://www.tryadhawk.com/">AdHawk</a>. Click on any of the links below to learn more about me. For inquiries: <a href="mailto:hi@ulises.me">email me!</a></p>
			</div>
		</div>

		<div class="row social-panel">
			{% include bottom_bar.html %}
		</div>
	</div>
	{% include next_button.html color=transparent %}
</div>