<div class="splash">
	<div class="container">
		<div class="row welcome-panel rellax">
			<div class="col-sm-6 col-lg-5 greeting rellax" data-rellax-speed="-1">
				<h1>Hi</h1>
					{% include animations/me.html class="animation-splash" %}
 					{% include animations/design.html class="animation-splash" %}
					{% include animations/nyc.html class="animation-splash" %}
					{% include animations/boston.html class="animation-splash" %}
					{% include animations/nyc.html class="animation-splash" %}
 					{% include animations/notarize.html class="animation-splash" %}
 					{% include animations/mail.html class="animation-splash" %}
			</div>
			<div class="col-sm-10 col-lg-7 intro rellax" data-rellax-speed="-4">
				<p>My name is <a href="/about" class="splash-me">Ulises Reyes</a>. I am a <a href="https://en.wikipedia.org/wiki/User_experience_design" class="splash-design">UX/UI Designer</a> Based in <a href="https://en.wikipedia.org/wiki/Boston" class="splash-boston">Boston</a>. Currently, I work as Lead Product Designer for <a href="https://www.notarize.com/" class="splash-notarize">Notarize</a>. Scroll down to learn more about me. Want to get in touch? <a href="mailto:hi@ulises.me" class="splash-mail">Email me!</a></p>
			</div>
		</div>
	</div>
	{% include next_button.html color=transparent anchor="summary" %}
</div>