<div class="summary" id="summary">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 summary-text">
				<h2>I design <span class="summary-nouns"></span></h2>
				<h4><a href="#notarize">Click here</a> or keep scrolling to see some of my most recent work.</h4>
			</div>
			<div class="col-sm-6 summary-image">
				<img src="../img/summary/iphone-hand.svg" class="phone img-responsive">
				<img src="../img/summary/light-bulb.svg" class="bulb img-responsive rellax" data-rellax-speed="1">
				<img src="../img/summary/like.svg" class="like img-responsive rellax" data-rellax-speed="2">
				<img src="../img/summary/play.svg" class="play img-responsive rellax" data-rellax-speed="3">
				<img src="../img/summary/profile.svg" class="profile img-responsive rellax" data-rellax-speed="2">
				<img src="../img/summary/search.svg" class="search img-responsive rellax" data-rellax-speed="1">
			</div>
		</div>
	</div>
</div>