.features {
	width: 100%;
	height: 60vh;
	position: relative;
	z-index: 390;
	overflow: hidden;

	.feature-description {
		padding: 1em;
		width: 100%;
		top: 30%;
		position: absolute;
		z-index: 420;

		.feature-text {
			display: none;
		}

		&.left {
			left: 0;

			.link-text {
				float: left;
			}

			h1,h2,h3,h4,p {
				text-align: left;
			}
		}

		&.right {
			right: 0;

			.link-text {
				float: right;
			}

			h1,h2,h3,h4,p {
				text-align: right;
			}
		}

		.link-text {
			color: #fff;
			padding: 1em;
			border: 1px solid #fff;
			border-radius: 3px;
			text-decoration: none;
			@include transition(0.25s);

			&:hover {
				background: rgba(black, 0.1);
			}
			&:active {
				background: rgba(black, 0.25);
			}
		}

		h1,h2,h3,h4,p {
			color: #fff;
		}
	}
}

.notarize {
	background: #2A86E1;

	.feature-description {
		background: rgba(#2A86E1, 0.25);
	}
}

.adhawk-app {
	background: #1CCB8D;

	.feature-description {
		background: rgba(#1CCB8D, 0.75);
	}

	.background {
		top: 60%;
		background: url("/img/features/adhawk_app/phone.png");
	}
}

.adhawk-website {
	background: $brand-color;

	.feature-description {
		background: rgba($brand-color, 0.75);
	}

	.background {
		top: 85%;
		background: url("/img/features/adhawk_website/website.png");
	}
}

.smarking {
	background: #9b59b6;
	margin-bottom: 200px;

	.feature-description {
		background: rgba(#9b59b6, 0.75);
	}

	.background {
		top: 45%;
		background: url("/img/features/smarking/smarking-dash.png");
		background-position: right center;
	}
}

.features .background {
	position: relative;
	width: 100%;
	height: 100vh ;
	background-size: contain;
	background-repeat: no-repeat;
}

@include media-query($on-tablet) {
	.features {
		height: 700px;

		.feature-description {
			width: 40%;
			top: 20%;

			.feature-text {
				display: block;
			}
		}
	}

	.adhawk-app {
		.background {
			top: 20%;
			background-size: cover;
		}
	}

	.adhawk-website {
		.background {
			top: 45%;
		}
	}

	.smarking {
		box-shadow: 0 5px 10px rgba(black, 0.25);
		
		margin-bottom: 400px;
		.background {
			top: 40%;
		}
	}
}

@include media-query($on-desktop) {
	.features {
		height: 800px;

		.background {
			height: 120vh;
		}
	}
}