.features {
	width: 100%;
	height: 60vh;
	position: relative;
	z-index: 390;
	overflow: hidden;

	.feature-description {
		padding: 1em;
		width: 100%;
		top: 30%;
		position: absolute;
		z-index: 420;

		.feature-text {
			display: none;
			text-shadow: 0 -1px 0 rgba(black, 0.5);
		}

		&.left {
			left: 0;

			.link-text {
				float: left;
			}

			h1,h2,h3,h4,p {
				text-align: left;
			}
		}

		&.right {
			right: 0;

			.link-text {
				float: right;
			}

			h1,h2,h3,h4,p {
				text-align: right;
			}
		}

		.link-text {
			color: #fff;
			padding: 1em;
			border: 1px solid #fff;
			border-radius: 3px;
			text-decoration: none;
			@include transition(0.25s);

			&:hover {
				background: rgba(black, 0.1);
			}
			&:active {
				background: rgba(black, 0.25);
			}
		}

		h1,h2,h3,h4,p {
			color: #fff;
		}
	}

	.feature-title {
		text-shadow: 0 -1px 0 rgba(black, 0.5);
	}
}

.notarize {

	background: url('/img/features/notarize/notarize.png'), #2A86E1;
	background-size: 85% auto;
	background-repeat: no-repeat;
	background-position: left center;

	.feature-description {
		background: rgba(#2A86E1, 0.6);
	}
}

.adhawk-app {
	background: url('/img/features/adhawk_app/phone.png'), #1CCB8D;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: right center;

	.feature-description {
		background: rgba(#1CCB8D, 0.6);
	}

}

.adhawk-website {
	background: url('/img/features/adhawk_website/website.png'), $brand-color;
	background-size: 95% auto;
	background-repeat: no-repeat;
	background-position: left center;

	.feature-description {
		background: rgba($brand-color, 0.6);
	}

}

.smarking {
	margin-bottom: 200px;

	background: url('/img/features/smarking/smarking-dash.png'), $blog-color;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: right center;

	.feature-description {
		background: rgba(#9b59b6, 0.6);
	}

}

.features .background {
	position: relative;
	width: 100%;
	height: 100vh ;
	background-size: contain;
	background-repeat: no-repeat;
}

@include media-query($on-tablet) {
	.features {
		height: 700px;

		.feature-description {
			width: 40%;
			top: 20%;

			&.left {
				left: 5%;
			}

			&.right {
				right: 5%;
			}

			.feature-text {
				display: block;
			}
		}

		.feature-title {
			font-size: 2em;
		}
	}
	
	.notarize,
	.adhawk-app,
	.adhawk-website,
	.smarking {
		background-size: 50% auto;
	}

	.smarking {
		box-shadow: 0 5px 10px rgba(black, 0.25);
		margin-bottom: 400px;
	}
}

@include media-query($on-desktop) {
	.features {
		height: 800px;

		.feature-description {
			top: 15%;
		}

		.feature-title {
			font-size: 3em;
		}

		.feature-text {
			font-size: 1.3em;
		}

		.link-text {
			margin-top: 1em;
		}
	}
}

@include media-query($on-xl-desktop) {
	.features {
		min-height:800px;

		.feature-title {
			font-size: 3.5em;
		}

		.feature-text {
			font-size: 1.5em;
		}

		.link-text {
			font-size: 1.25em;
		}
	}
}
