.next-button {
	height: 12.5%;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin:0;

	a {
		display: block;
		top:0;
		position: relative;
		height:90%;
		width:90%;
		margin: auto;
		border: 1px solid transparent;
		@include transition(all .25s);
		background-image: url('/img/next_button/chevron_down.svg');
		background-repeat: no-repeat;
		background-size: 40px auto;
		@include animation(slide-up 1.5s ease);
		@include animation-fill-mode(forwards);

		&:hover {
			background-color: rgba(white, 0.05) !important;
			border-radius: 5px;
			box-sizing: border-box;
			border:1px solid rgba(black, .05);
			box-shadow: 0 1px 0 rgba(black, .5);
		}

		&:active {
			top: 1px;
			box-shadow: 0 -1px 0 rgba(black, .5);
			background-color: rgba(black, 0.25) !important;
			@include transition(all .1s);
		}
	}
}

@include media-query($on-tablet) {
	.next-button {
		a {
			background-size: 50px auto;
		}
	}
}

@include keyframes(slide-up) {
  from {
  	opacity: 0;
    background-position: center 200%;
  }
  to {
  	opacity: 1;
    background-position: center center;
  }
}