.menu, .about-content {
	.social-icons {
		margin: 25px auto;
		display: inline-block;
		li {
			display: inline-block;
			a {
				display:inline-block;
				position:relative;
				bottom: 0;
				height: 25px;
				width:35px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 20px auto;
				@include transition(all 0.25s);
				&:hover {
					bottom: 5px;
				}
			}

			a.linkedin{
				background-image: url('/img/menu/menu_linkedin.svg');
			}

			a.instagram {
				background-image: url('/img/menu/menu_instagram.svg');
			}
			a.twitter {
				background-image: url('/img/menu/menu_twitter.svg');
			}
			a.github {
				background-image: url('/img/menu/menu_github.svg');
			}
			a.email {
				background-image: url('/img/menu/menu_email.svg');
			}
		}
	}
}

.about-content {
	.social-icons {
		width: 100%;
		li {
			width: 18%;
			a {
				width: 100%;
			}
		}
	}
}