.splash {
	height:100%;
	background: #3498db;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(#000, .5);
	font-weight: 200;

	.container {
		height:100%;

		.row.welcome-panel {
			height: 70%;
			@include display(flex);
	  	@include flex-direction(column);
	  	@include align-items(center);
	  	@include justify-content(center);
		}
		.row.social-panel {
			height: 20%;
			background: orange;
		}

		.row.next-button {
			height: 10%;
			background: green;
		}

	}

	.greeting, .intro {
	  @include display(flex);
	  @include flex-direction(column);
	  @include align-items(flex-start);
	  @include justify-content(center);
	}

	.greeting {
		h1 {
			font-weight:100;
			font-size: 6em;
		}
	}
	.intro {
		a {
			text-shadow: none;
			color: rgba(#000, 0.5);
			@include transition(all 0.25s ease-in-out);
			white-space: no-wrap;

			&:hover {
				color: rgba(#fff, 0.75);
				text-decoration: underline;
			}
		}
	}
}

@include media-query($on-tablet) {
	.splash {

		.container {
			.row.welcome-panel {
				@include display(flex);
	  		@include flex-direction(row);
	  		@include align-items(flex-start);
	  		@include justify-content(center);
			}
		}

		.greeting, .intro {
			height: 100%;
			@include display(flex);
		  @include flex-direction(column);
		  @include align-items(flex-start);
		  @include justify-content(center);
		}
		.greeting {
			text-align: center;
			h1 {
				font-size: 18em;
			}
		}
		.intro {
			p {
				font-size: 1.25em;
			}
		}
	}
}

@include media-query($on-desktop){
	.splash{
		.greeting {
			h1 {
				font-size: 24em;
			}
		}
		.intro {
			p {
				font-size: 1.5em;
			}
		}
	}
}

@include media-query($on-xl-desktop) {
	.splash {
		.intro {
			p {
				font-size: 2em;
			}
		}
	}
}