.summary {
	background: white;
	height: 100vh;
	margin-top: 100vh;
	width:100%;
	position: relative;
	z-index: 400;
	

	.summary-nouns {
		opacity: 0.75;
	}
}

@include media-query($on-tablet) {
	.summary {
		height: 75vh;
	}
}