<div class="animation animation-boston {{ include.class }}">
	<img class="boston-base" src="/img/animations/boston/base.svg">
	<img class="boston-wtc" src="/img/animations/boston/wtc.svg">
	<img class="boston-chrystler" src="/img/animations/boston/chrystler.svg">
	<img class="boston-bridge" src="/img/animations/boston/bridge.svg">
	<img class="boston-sun" src="/img/animations/boston/sun.svg">
	<div class="trimmed-area">
		<div class="animation-container">
			<img class="boston-shadows" src="/img/animations/boston/shadows.svg">
			<img class="boston-clouds" src="/img/animations/boston/clouds.svg">
			<img class="boston-citgo" src="/img/animations/boston/citgo.svg">
			<img class="boston-towers boston-tower-1" src="/img/animations/boston/tower-01.svg">
			<img class="boston-towers boston-tower-2" src="/img/animations/boston/tower-02.svg">
			<img class="boston-towers boston-tower-3" src="/img/animations/boston/tower-03.svg">
			<img class="boston-towers boston-tower-4" src="/img/animations/boston/tower-04.svg">
			<img class="boston-towers boston-tower-5" src="/img/animations/boston/tower-05.svg">
		</div>		
	</div>
</div>