<div class="animation animation-design {{ include.class }}">
	<img class="design-computer" src="/img/animations/design/computer.svg">
	<img class="design-coffee" src="/img/animations/design/coffee.svg">
	<img class="design-file design-html" src="/img/animations/file_formats/html.svg">
	<img class="design-file design-css" src="/img/animations/file_formats/css.svg">
	<img class="design-file design-psd" src="/img/animations/file_formats/psd.svg">
	<img class="design-file design-ai" src="/img/animations/file_formats/ai.svg">
	<img class="design-file design-svg" src="/img/animations/file_formats/svg.svg">
	<div class="trimmed-area">
		<div class="animation-container">
			<img class="design-sketch" src="/img/animations/design/sketch.svg">
			<img class="design-left-hand" src="/img/animations/design/left-hand.svg">
			<img class="design-right-hand" src="/img/animations/design/right-hand.svg">
		</div>		
	</div>
</div>