<div class="animation animation-mail {{ include.class }}">
	<img class="envelope-flap-shadow envelope-opening" src="/img/animations/mail/envelope-flap-shadow.svg">
	<div class="trimmed-area">
		<div class="animation-container">
			<img class="envelope-back envelope-body" src="/img/animations/mail/envelope-back.svg">
			<img class="letter" src="/img/animations/mail/letter.svg">
			<img class="envelope-front envelope-body" src="/img/animations/mail/envelope-front.svg">
			<img class="envelope-flap envelope-opening" src="/img/animations/mail/envelope-flap.svg">
		</div>		
	</div>
</div>