<div class="animation animation-nyc {{ include.class }}">
	<img class="nyc-base" src="/img/animations/nyc/base.svg">
	<img class="nyc-wtc" src="/img/animations/nyc/wtc.svg">
	<img class="nyc-chrystler" src="/img/animations/nyc/chrystler.svg">
	<img class="nyc-bridge" src="/img/animations/nyc/bridge.svg">
	<img class="nyc-sun" src="/img/animations/nyc/sun.svg">
	<div class="trimmed-area">
		<div class="animation-container">
			<img class="nyc-shadows" src="/img/animations/nyc/shadows.svg">
			<img class="nyc-clouds" src="/img/animations/nyc/clouds.svg">
			<img class="nyc-liberty" src="/img/animations/nyc/liberty.svg">
			<img class="nyc-towers nyc-tower-1" src="/img/animations/nyc/tower-01.svg">
			<img class="nyc-towers nyc-tower-2" src="/img/animations/nyc/tower-02.svg">
			<img class="nyc-towers nyc-tower-3" src="/img/animations/nyc/tower-03.svg">
			<img class="nyc-towers nyc-tower-4" src="/img/animations/nyc/tower-04.svg">
			<img class="nyc-towers nyc-tower-5" src="/img/animations/nyc/tower-05.svg">
		</div>		
	</div>
</div>