<div class="features adhawk-app" id="adhawk-app">
	{% include features/feature_description.html
		title="AdHawk App"
		text="I joined AdHawk as their first hire on June of 2015, shortly after their admission to the summer class of TechStars Boulder. Equipped with only a minimum viable product that served as a proof of concept, I established the look and feel of the app, and created a user-testing/feedback loop to incrementally improve both their web and iOS interfaces."
		url="#"
		cta="View Case Study"
		position="left" 
	%}
	<div class="background rellax" data-rellax-speed="2" ></div>
</div>