<div class="features adhawk-website" id="adhawk-app">
	{% include features/feature_description.html title="AdHawk Website" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh mauris, interdum in fringilla sit amet, efficitur ac ipsum. Duis." url="#" position="right" %}
	<div class="container rellax" data-rellax-speed="1" >
		<img src="/img/features/adhawk_website/1.png" class="main img-responsive" />
		<img src="/img/features/adhawk_website/2.png" class= "secondary img-responsive pro" />
		<img src="/img/features/adhawk_website/3.png" class= "secondary img-responsive testimonial" />
	</div>
</div>