<div class="features adhawk-app left" id="adhawk-app">
	{% include features/feature_description.html
		title="AdHawk App"
		text="I joined AdHawk as their first hire in June of 2015, shortly after their admission to the summer class of TechStars Boulder."
		text2="Presented with only a minimum viable product that served as a proof of concept, I established the look and feel of the app, and created a user-testing/feedback loop to incrementally improve both their web and iOS interfaces."
		url="https://itunes.apple.com/us/app/adhawk-advertising-dashboard/id1088960649?mt=8"
		cta="Get"
		ctacolor="#1CCB8D"
		casestudyurl="#"
		position="left" 
	%}
</div>
