<div class="features adhawk-website" id="adhawk-website">
	{% include features/feature_description.html 
		title="AdHawk Website"
		text="V1 of the AdHawk website leveraged the power of a two-step form in order to entice potential leads to sign up, while providing us with enough information for our salespeople to segment them on CRM software. For V2, we wanted to preserve the parts that worked, while communicating a more focused message about our product."
		url="#"
		cta="View Case Study"
		position="right" 
	%}
</div>