<div class="feature-description">
	<h3 class="feature-title">{{ include.title }}</h3>
	<p class="feature-text">{{ include.text }}</p>
	{%  if include.text2 %}
		<p class="feature-text">{{ include.text2 }}</p>
	{% endif %}
	<div class="button-container">
		<a href="{{ include.url }}" class="link-text primary" target="blank">
			<span style="color:{{ include.ctacolor }};">{{ include.cta }}</span>
		</a>

		{%  if include.casestudyurl %}
			<a href="{{ include.casestudyurl }}" class="link-text case-study">
				<span> View Case Study</span>
			</a>
		{% endif %}
	</div>
</div>	
