<div class="features notarize" id="notarize">
	{% include features/feature_description.html 
		title="Notarize"
		text="Notarize is the first on-demand, remote, electronic notary public service valid in all 50 U.S. states and D.C. We provide our users the ability to legally notarize documents electronically, from anywhere, using beautifully designed mobile and web products. As Lead Product Designer, I'm tasked with establishing and leading the UX/UI design process for our consumer, SMB, and enterprise products."
		url="https://notarize.com"
		cta="Learn More" 
		position="right" 
	%}
</div>