<div class="features adhawk-website" id="adhawk-website">
	{% include features/feature_description.html 
		title="Notarize"
		text="Notarize is the first on-demand, remote, electronic notary public service valid in all 50 U.S. states and D.C. We provide consumers and businesses the ability to legally notarize documents electronically, from anywhere, using beautifully designed mobile and web products. As lead product designer at Notarize, Im tasked with establishing and leading the UX/UI design process for our consumer, SMB, and enterprise products."
		cta="Learn More" 
		position="right" 
	%}
	<div class="background rellax" data-rellax-speed="2" ></div>
</div>