<div class="features smarking" id="smarking">
	{% include features/feature_description.html 
		title="Smarking App" 
		text="Born out of MIT in the fall of 2014, Smarking is a company that helps outdated parking garages understand and predict occupancy in real-time. Shortly after joining them near the end of 2014, we were accepted into the W15 class of Y Combinator, where I helped establish a user feedback system and new UI for their parking management system." 
		url="#" 
		position="left" 
	%}
	<div class="background rellax" data-rellax-speed="2">
	</div>
</div>