<div class="features smarking left" id="smarking">
	{% include features/feature_description.html 
		title="Smarking App" 
		text="Born out of MIT in the fall of 2013, Smarking is a company that helps outdated parking garages understand and predict occupancy in real-time." 
		text2="Shortly after joining them near the end of 2014, we were accepted into the W15 class of Y Combinator, where I helped establish a user feedback system and new UI for their parking management system."
		url="https://smarking.com"
		cta="Visit"
		ctacolor="#9b59b6"
		casestudyurl="true"
		position="left" 
	%}
</div>