---
layout: default
title: "Work"
favcolor: e67e22
permalink: /work/
navtitle: "Select a project"
---
<div class="work">
	{% include work/work_menu.html %}
	
	{% include hamburger_button.html color="e67e22" %}
	{% include menu.html active="work" %}

	{% for project in site.case_studies %}	
		{% include work/work_thumb.html %}
	{% endfor %}

	{% for project in site.projects %}	
		{% include work/work_thumb.html %}
	{% endfor %}

	{% include work/work_thumb.html bookend="true" copy="Filler Text"%}
</div>