<div class="col-sm-7 panel-right">
	<h1>Hi</h1>
	<p class="bio">My name is Ulises!</p>

	<p class="bio">I am a multidisciplinary designer with over 10 years of combined experience in branding, graphic design, architectural design, and user experience design.</p>

	<p class="bio">I hold a Master’s degree in Architectuarl Design from the Massachusetts Institute of Technology, where I was recipient of the ‘MIT Architecture Graduate Student Fellowship Award’.</p>

	<p class="bio">Before the end of my last semester at MIT, I joined enterprise software startup Smarking as UX/UI lead, establishing the brand of the company while refreshing the interface of a data analytics tool used by select garage managers in the United States. When working with Smarking, we were accepted into the Winter 2015 round of Y-Combinator, and secured a seed round of $3MM USD shortly after.</p>

	<p class="bio">After my time with Smarking, I moved to New York to become Head of Design at the fast growing ad-tech startup, AdHawk. AdHawk (Techstars Boulder 2015) is a mobile app that aggregates a company's digital marketing data, and offers them one-click optimization solutions to improve their campaigns' performance.</p>

	<p class="bio"></p>

	<p class="bio">I have a passion for working with startups and providing them with the vision, brand identity, and user experience design that positions them for optimal growth.</p>

	{% include about/design_skills.html %}
	{% include about/software_skills.html %}
	{% include about/dev_skills.html %}
</div>