<div class="col-sm-5 panel-left rellax" data-rellax-speed="-5">
	<div class="img-box">
		<img class="img-responsive" src="../../img/about/me.jpg">
	</div>
	<span class="credit">Photo by <a href="http://mitchboyer.com" target="_blank">Mitch Boyer</span></a>
	{% include social_icons.html %}
	<h2>Ulises Reyes</h2>
	<p>
	MArch, <a href="http://mit.edu" target="_blank">MIT</a></br>
	BA Architecture, <a href="http://fiu.edu" target="_blank">FIU</a></br>
	<a href="mailto:hi@ulises.me" target="_blank">hi@ulises.me</a></br>
	Boston, MA</p>
</div>