.animation-notarize {
	img {
		position: absolute;
	}

	.trimmed-area {
		background: #fff;
	}

	.notarize-logo,
	.notarize-seal {
		width: 80%;
		left: 10%;
		bottom: 10%;
	}

	.notarize-seal {
		@include animation-name(logo-float);
		@include animation-duration(8s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(linear);
	}

	.notarize-logo {
		@include animation-name(logo-breathe);
		@include animation-duration(1s);
		@include animation-iteration-count(infinite);
		@include animation-timing-function(ease-in-out);
		@include animation-direction(alternate);
	}
}

@include keyframes(logo-float){
 	from {
 		@include transform(rotate(0deg));
 	}
 	to {
 		@include transform(rotate(360deg));
 	}
}

@include keyframes(logo-breathe){
 	from {
 		@include transform(scale(0.90));
 	}
 	to {
 		@include transform(scale(1));
 	}
}